.container {
    width: 100%;
    height: 100vh;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../../assets/ecommerce_wallpaper.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}
.containerUser {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    margin-right: 10%;
    background-color: #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}
.input_error_message {
    color: red;
    font-size: 12px;
    align-self: flex-start;
}

@media (width < 900px) {
    .container {
        align-items: center;
    }
    .containerUser {
        width: 60%;
        margin-right:0;
    }
}

@media (width < 400px) {
    .container {
        align-items: center;
    }
    .containerUser {
        width: 90%;
        margin-right:0;
        text-align: center;
    }
}