.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user_profile {
    display: flex;
    min-height: 300px;
    width: 800px;
    margin: 20px;
    background-color: #dddddd;
    border-radius: 10px;
}

.user_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    padding: 0 5px;
}
.user_photo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    gap: 10px;
}
.user_photo form button {
    width: 30%;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;

}
.user_photo input {
    width: 80%;
    font-size: 14px;
}
.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.user_info form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.user_info input,.user_info button{
    width: 90%;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gainsboro;
    margin: 5px 0;
}
.user_info button {
    cursor: pointer;
}

.input_error_message {
    color: red;
    font-size: 12px;
    align-self: flex-start;
    margin-left: 16px;
}