.slider_wrapper {
    width: 100%;
}


.slider_items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.slider_items img {
    height: 80%;
    width: 90%;
    object-fit: fill;
    transition: .2s transform ease ;
}
.slider_items p {
    font-size: 16px;
    font-weight: 600;
}

.slider_items img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
