.secao {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    height: 300px;
    background-color: yellow;
    text-align: start;
    gap: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.secao_item {
    width: 25%;
    height: 100%;
    background-color: red;
}
.secao_item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}