.container_success,.container_error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    animation-duration: 2s;
    animation-name: queda;
    padding: 10px;
    font-size: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid greenyellow;
}
.container_error {
    border: 1px solid red;
}

@keyframes queda {
    from {
        bottom: 1000px;
    }
    to {
        bottom: 100px;
    }
}