.header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: ghostwhite;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}
.logo {
    border-radius: 50%;
    transition: transform 0.2s ease-in;
    border: 1px solid gainsboro;
    margin: 0 10px;
}
.logo:hover {
    transform: scale(1.1);
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: yellow;
   
}
.search input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline: none;
    font-size: 16px;
}
.icon {
    border-radius: 0 5px 5px 0px;
    border: 1px solid gainsboro;
    border-left: none;
    background-color: white;

}
.menu_navegacao {
    display: flex;
}
.menu_navegacao_mobile {
    display: none;
}
 .drawer_navigation_mobile_offline {
        display: none;
    }

.link {
    text-decoration: none;
    padding: 0 24px;
    
}
.menu_navegacao p {
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
    padding: 5px 0;
    border: 1px solid transparent;
}
.menu_navegacao p:hover {
    border-bottom-color: #010101;
}
.btn {
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 5px;
    color: #222222;
    background-color: ghostwhite;
    text-decoration: none;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn:hover {
    opacity: 0.8;
}


@media (width <= 576px) { 

    .search,
    .menu_navegacao,
    .btn {
            display: none;
        }   

    .menu_navegacao_mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .menu_navegacao_mobile > *:hover{
        color: #444444;
    }
    .drawer_navigation_mobile_offline {
        display: none;
    }

    .drawer_navigation_mobile_online {
        display: flex;
        flex-direction: column;
        margin: 2% 5%;
        border-radius: 4px;
        border: .5px solid gainsboro;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        gap: 10px;
        background-color: #e6e6e6;

    }
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        text-align: center;    
    }
    .link:hover {
        opacity: .7;
        background-color: #cccccc;
    }
    .drawer_navigation_mobile_online p{
        font-size: 18px;
        color: #111111;
        text-transform: capitalize;
    }
   .header {
        justify-content: space-between;
        z-index: 2;
   }
}

 /* Medium devices (tablets, 768px and up) */
@media (576px < width <= 800px) {  
    

}

 /* Large devices (desktops, 992px and up) */
@media (800px < width <= 1200px) { 
   
 }

 @media (1200px < width <= 1400px) { 
   
 }
